<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="../statics/styles/catalogo.css">
</head>
<body>
    <header>
        <div>
            <a href="./menu.html">
                <button type="submit" id="menu"><img src='../statics/img/inicio/treslineas.png' width='100' height='50' alt='soy tu imagen' class="img"></button>
            </a>
        </div>
            <h1 id="titulo">LE PAIN CROISSANT BISTROT</h1>     
        <div id="redes">
            <img src='../statics/img/inicio/ig.jpg' width='25' height='25' alt='soy tu imagen'>
            <img src='../statics/img/inicio/fb_icon_325x325.png' width='25' height='25' alt='soy tu imagen'>
            <img src='../statics/img/inicio/wha.png' width='25' height='25' alt='soy tu imagen'>
        </div>
    </header>
    <section>
        <div class="contenedor">
            <div id="izquierda" class="centrar">
                <h2>- Pasteles -</h2>
                <button><img src='../statics/img/catalogo/pastel1.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/pastel2.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/pastel3.jpg' width='150' height='200' alt='soy tu imagen' class="img opacidad"></button>
                <h2>- Galletas -</h2>
                <button><img src='../statics/img/catalogo/galleta1.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/galleta2.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/galleta3.jpg' width='150' height='200' alt='soy tu imagen' class="img opacidad"></button>
                <h2>- Pan dulce -</h2>
                <button><img src='../statics/img/catalogo/dulces1.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/dulces2.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/dulces3.jpg' width='150' height='200' alt='soy tu imagen' class="img opacidad"></button>
            </div>
            <div id="derecha" class="centrar">
                <h2>- Tartas -</h2>
                <button><img src='../statics/img/catalogo/tarta1.png' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/tarta2.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/tarta3.jpg' width='150' height='200' alt='soy tu imagen' class="img opacidad"></button>
                <h2>- Postres fríos -</h2>
                <button><img src='../statics/img/catalogo/postres1.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/postres2.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/postres3.jpg' width='150' height='200' alt='soy tu imagen' class="img opacidad"></button>
                <h2>- Pan salado -</h2>
                <button><img src='../statics/img/catalogo/salados1.png' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/salados2.png' width='150' height='200' alt='soy tu imagen' class="img"></button>
                <button><img src='../statics/img/catalogo/salados3.jpg' width='150' height='200' alt='soy tu imagen' class="img opacidad"></button>
            </div>
        </div>
        <div id="cafe" class="centrar">
            <button><img src='../statics/img/catalogo/cafe1.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
            <button><img src='../statics/img/catalogo/cafe2.jpg' width='150' height='200' alt='soy tu imagen' class="img"></button>
            <button><img src='../statics/img/catalogo/cafe3.jpg' width='150' height='200' alt='soy tu imagen' class="img opacidad"></button>
            <h2>- Café -</h2>
        </div>
    </section>
    <footer>
        <span class="separa">Le Pain Croissant Bistrot ® Le pain Croissant</span>
        <span>© 2021 Qode Interactive, All Rights Reserved</span>
    </footer>
</body>